/* Main Page Animation code */

@keyframes mainup{
  from{
    opacity: 0;
    top:55%;}
 
  to{
    opacity: 1;
    top:50%;}
}

@keyframes mainbtn{
  from{opacity:0;}
  to{opacity:1;}
}

@keyframes btndown{
  from{opacity:0;}
  25%{opacity:0;}
  50%{opacity:0;}
  75%{opacity:0.2;}
  to{opacity:1;color:#fff; left:100%; transform: translateX(-100%);width:60px;z-index:99;}
}

@keyframes btnup{
  from{opacity:0;}
  to{opacity:1;color:#fff; font-size:14px;font-family: 'Montserrat','Noto Sans KR', sans-serif; font-weight:500;}
}

/* common show animation */
@keyframes showani{
  form{opacity:0}
  to{opacity:1}
}