@media screen and (max-width:1450px){
   /* Beksul_family Style Code */
  .beksul_family .text_wrap p{font-size:18px;}
  .beksul_family .text_wrap p:nth-of-type(2){left:34%;}
}

@media screen and (max-width:1350px){
  /* Header Section Style Code */
  .logo_section .global_icon{display:none;}
  .nav_icon .cjbio{display:none;}
  .navi header .nav_txt p{font-size:15px; font-weight: 600; padding:0 10px;}

  /* Slide Section Style Code */
  .brand_slide{padding:50px 80px;}
}

@media screen and (max-width:1150px){
  /* Header Section Style Code */
  .navi header .nav_txt p{font-size:14.5px;}
  .navi .sub_nav{padding:10px 40px;}
  .navi header .nav_txt{display:none;}
  .navi header .nav_bars{display:block;}

  /* SubPage Style Section */
  .sub_info .information{padding:100px;}

  /* History Style Code */
  .history .history_bg .history_wrap{width:870px;}
  /* History font-size Style Code */
  .history .history_bg .history_wrap .left_history_1st{width:130px;}
  .history .history_bg .history_wrap .left_history_1st p:nth-of-type(1),
  .history .history_bg .history_wrap .right_history_1st p:nth-of-type(1),
  .history .history_bg .history_wrap .left_history_2nd p,
  .history .history_bg .history_wrap .right_history_2nd p:nth-of-type(1),
  .history .history_bg .history_wrap .left_history_3rd p:nth-of-type(1),
  .history .history_bg .history_wrap .right_history_3rd p:nth-of-type(1),
  .history .history_bg .history_wrap .left_history_4rd p:nth-of-type(1),
  .history .history_bg .history_wrap .right_history_4rd p:nth-of-type(1)
  {font-size:21px;}

  .history .history_bg .history_wrap .left_history_1st p:nth-of-type(2),
  .history .history_bg .history_wrap .right_history_1st p:nth-of-type(2),
  .history .history_bg .history_wrap .left_history_2nd span,
  .history .history_bg .history_wrap .right_history_2nd p:nth-of-type(2),
  .history .history_bg .history_wrap .left_history_3rd p:nth-of-type(2),
  .history .history_bg .history_wrap .right_history_3rd p:nth-of-type(2),
  .history .history_bg .history_wrap .left_history_4rd p:nth-of-type(2),
  .history .history_bg .history_wrap .right_history_4rd p:nth-of-type(2)
  {margin:5px 0 20px 0;font-size:16px;}
  .history .history_bg .history_wrap .left_history_1st img{width:130px;}
  .history .history_bg .history_wrap .beksul_ss{top:420px;left:7%;width:90px;}
  /* End of History font-size Style Code */
  /* History::before 위치 조정 */
  .history .history_bg .history_wrap .left_history_1st::before{left:224px;}
  .history .history_bg .history_wrap .right_history_1st::before{right:223px;}
  .history .history_bg .history_wrap .left_history_2nd::before{left:200px;}
  .history .history_bg .history_wrap .left_history_4rd::before{left:215px;}
  .history .history_bg .history_wrap .millgaru{width:130px; top:590px;right:5px;}

  /* Middle Container Stlye Code */
  .middle_container{height: 1850px;}
  .middle_container .middle_wrap{width:100%;flex-wrap:wrap;justify-content: center;flex-direction: column;}
  .middle_container .middle_wrap .mid_img{width:100%;height:450px;;}
  .middle_container .middle_wrap .txt_story{margin:auto;}
  .middle_container .middle_wrap .img_story{margin:auto; background-position: center center;align-items: center;}

   /* Beksul_family Style Code */
  .beksul_family h3{font-size:45px;}
  .beksul_family .text_wrap p{font-size:16px;}

  /* Slide Section Style Code */
  .brand_slide{padding: 50px 60px;}
  .brand_slide .lSSlideOuter .slide_setion li .li_warp img{width:178px;}
  
  /* Footer Style Code */
  .footer .txt_1 li, .footer .txt_2 li{font-size:13px;}
}

@media screen and (max-width:950px){
   /* SubPage Style Section */
  .sub_info .information{display:flex;padding:50px;}
  .sub_info .information .info_img{width:550px; height:550px; display:flex;align-items: center;justify-content: center;padding:0;}
  .sub_info .information .info_img .info_txt h1{font-size:40px; padding:0 0 30px 0;}
  .sub_infoimg .sub_bg .symbol .sub_imgs{align-items: center;}
  .sub_infoimg .sub_bg .symbol .sub_imgs .img1,
  .sub_infoimg .sub_bg .symbol .sub_imgs .img2,
  .sub_infoimg .sub_bg .symbol .sub_imgs .img3{width:33.33%}
  .sub_infoimg .sub_bg .symbol .sub_imgs .img4{display:none;}

  /* History Style Code */
  .history .history_bg .history_wrap{width:750px;}
  .history .history_bg .history_wrap .history_1st{margin-top:50px;}
  .history .history_bg .history_wrap .history_1st img{width:80%;margin:auto;}  
  .history .history_bg .history_wrap .beksul_ss,
  .history .history_bg .history_wrap .millgaru,
  .history .history_bg .history_wrap .oil{display:none;}  

  /* Beksul_family Style Code */
  .beksul_family h3{font-size:35px;top:60px;transform:translateX(-50%);}
  .beksul_family .text_wrap p{font-size:21px;}
  .beksul_family .text_wrap p:nth-of-type(1){top:14.5%;left:42.5%;}
  .beksul_family .text_wrap p:nth-of-type(2){top:21.5%;left:52%;}
  .beksul_family .text_wrap p:nth-of-type(3){top:29.7%;left:37.5%;}
  .beksul_family .text_wrap p:nth-of-type(4){top:38.3%;left:52%;}
  .beksul_family .text_wrap p:nth-of-type(5){top:45.8%;left:28.5%;}
  .beksul_family .text_wrap p:nth-of-type(6){top:54.2%;left:52%;}
  .beksul_family .text_wrap p:nth-of-type(7){top:64%;left:44.5%;}
  .beksul_family .text_wrap p:nth-of-type(8){top:73.3%;left:52%;}
  .beksul_family .text_wrap p:nth-of-type(9){top:84.7%; left:39.5%;}
  .beksul_family .text_wrap p:nth-of-type(10){top:89.8%; left:52%;}

  .beksul_family .family_img img{display:none;}
  .beksul_family .family_img .family_950{display:block;margin:auto;width:70%;}

  /* Slide Section Style Code */
  .brand_slide{height:350px;}
  .brand_slide .lSSlideOuter .slide_setion li .li_warp img{width:126px;}

  /* Footer Style Code */
  .footer .footer_txt{display:flex;flex-direction:column;align-items:center;}
  .footer .txt_1 li, .footer .txt_2 li{font-size:11px;}
  .footer .txt_3 li, .footer .txt_4 li, .footer .footer_txt p{font-size:11px;}
}

@media screen and (max-width:750px){
   /* SubPage Style Section */
  .sub_infoimg .sub_bg .symbol .symbol_txt{padding:50px 0 30px 0;}
  .sub_infoimg .sub_bg .symbol h2{font-size:26px;}
  .sub_infoimg .sub_bg .symbol p{font-size:16px;}

   /* History Style Code */
  .history .history_bg .history_wrap{width:500px;}
  .history .history_bg .history_wrap .left_history_1st{width:110px;}
  .history .history_bg .history_wrap .left_history_1st img{width:110px;margin:auto;}
  .history .history_bg .history_wrap .right_history_1st{width:112px;}
  .history .history_bg .history_wrap .right_history_2nd{width:130px;}
  .history .history_bg .history_wrap .right_history_2nd img{width:130px;margin:auto;}
  .history .history_bg .history_wrap .left_history_3rd{width:150px; left:13%}
  .history .history_bg .history_wrap .left_history_3rd img{width:150px;}
  .history .history_bg .history_wrap .right_history_3rd{width:130px;}
  .history .history_bg .history_wrap .right_history_3rd img{width:130px;}
  .history .history_bg .history_wrap .left_history_4rd{left:16%;}
  .history .history_bg .history_wrap .right_history_4rd{width:150px; right:14%;}
  .history .history_bg .history_wrap .right_history_4rd img{width:150px;}

    /* History::before ::after display 조정 */
  .history .history_bg .history_wrap .left_history_1st::before{display:none;}
  .history .history_bg .history_wrap .right_history_1st::before{display:none;}
  .history .history_bg .history_wrap .left_history_2nd::before{display:none;}
  .history .history_bg .history_wrap .right_history_2nd::before{display:none;}
  .history .history_bg .history_wrap .left_history_3rd::before{display:none;}
  .history .history_bg .history_wrap .right_history_3rd::before{display:none;}
  .history .history_bg .history_wrap .left_history_4rd::before{display:none;}
  .history .history_bg .history_wrap .right_history_4rd::before{display:none;}

  .history .history_bg .history_wrap .left_history_1st::after{display:block;left:134px;}
  .history .history_bg .history_wrap .right_history_1st::after{display:block;right:134px;}
  .history .history_bg .history_wrap .left_history_2nd::after{display:block;left:120px;}
  .history .history_bg .history_wrap .right_history_2nd::after{display:block;right:148.5px;}
  .history .history_bg .history_wrap .left_history_3rd::after{display:block;
  left:169px;}
  .history .history_bg .history_wrap .right_history_3rd::after{display:block;right:148.5px;}
  .history .history_bg .history_wrap .left_history_4rd::after{display:block;left:154px;}
  .history .history_bg .history_wrap .right_history_4rd::after{display:block;right:164px;}

  /* Slide Section Style Code */
  .brand_slide{padding:50px 25px;}
  .brand_slide .slide_cate h3{font-size:23px;}
  .brand_slide .lSSlideOuter .slide_setion li .li_warp img{width:130px;}

  /* Footer Style Code */
  .footer ul.txt_2{display:none;}

  

}

@media screen and (max-width:650px){
   /* SubPage Style Section */
  .sub_info .information .info_img{width:500px; height:500px;}
  .sub_info .information .info_img .info_txt h1{font-size:35px;}
  .sub_info .information .info_img .info_txt p:nth-of-type(1){font-size:23px;}
  .sub_info .information .info_img .info_txt p:nth-of-type(2),
  .sub_info .information .info_img .info_txt p:nth-of-type(3){display: none;}
  .sub_infoimg .sub_bg .symbol p{display:none;}
  .sub_infoimg .sub_bg .symbol .sub_imgs{flex-wrap: wrap;}
  .sub_infoimg .sub_bg .symbol .sub_imgs .img1,
  .sub_infoimg .sub_bg .symbol .sub_imgs .img2,
  .sub_infoimg .sub_bg .symbol .sub_imgs .img3,
  .sub_infoimg .sub_bg .symbol .sub_imgs .img4{width:47%;}
  .sub_infoimg .sub_bg .symbol .sub_imgs .img4{display:block;}

   /* Middle Container Stlye Code */
  .middle_container .middle_wrap .mid_img{width:80%;height:380px;background-size: cover;}
  .middle_container .middle_wrap .txt_story p{font-size:30px;}
  .middle_container .middle_wrap .mid_txt{width:90%;}

  .middle_container .with_beksul p{font-size:23px;}
  .middle_container .with_beksul::before{width:76px; height: 68px; background-size:cover;left:50px;}

  /* Beksul_family Style Code */
  .beksul_family h3{font-size:25px; top:30px;}
  .beksul_family .text_wrap p{font-size:18px;}
  .brand_slide .lSSlideOuter .slide_setion li .li_warp img{width:100px;}
  /* .brand_slide .slide_setion li p{display:none;} */
  

  /* Footer Style Code */
  .footer .txt_3 li:nth-child(3){display:none;}
  .footer .txt_4 li:nth-child(2){display:none;}
}

@media screen and (max-width:500px){
   /* SubPage Style Section */
  .sub_info .information .info_img{width:400px; height:400px;}
  .sub_info .information .info_img .info_txt h1{font-size:28px;}
  .sub_info .information .info_img .info_txt p:nth-of-type(1){font-size:18px;}

  .sub_infoimg .sub_bg .symbol .sub_imgs{width:calc(100% - 10px);flex-wrap:nowrap;transform:translateX(-50%);}
  .sub_infoimg .sub_bg .symbol .sub_imgs .img1,
  .sub_infoimg .sub_bg .symbol .sub_imgs .img2{width:100%;}
  .sub_infoimg .sub_bg .symbol .sub_imgs .img3,
  .sub_infoimg .sub_bg .symbol .sub_imgs .img4{display:none;}

   /* History Style Code */
  .history .history_bg .history_wrap{width:300px;}
  .history .history_wrap .history_line{display:none;}
  
  .history .history_bg .history_wrap .history_1st{top:-145px;}
  .history .history_bg .history_wrap .history_1st img{width:120px;}
  .history .history_bg .history_wrap .left_history_1st{top:210px;}
  .history .history_bg .history_wrap .right_history_1st{top:425px;}
  .history .history_bg .history_wrap .right_history_1st img{width:100px;}
  .history .history_bg .history_wrap .left_history_2nd{top:740px;}
  .history .history_bg .history_wrap .left_history_2nd span{margin:5px 0 10px 0;}
  .history .history_bg .history_wrap .left_history_2nd img{width:68px;margin:5px auto;}
  .history .history_bg .history_wrap .right_history_2nd{top:1102px;}
  .history .history_bg .history_wrap .middle_logo{top:1315px;}
  .history .history_bg .history_wrap .middle_logo p{display:none;}
  .history .history_bg .history_wrap .middle_logo img{width:170px;}
  .history .history_bg .history_wrap .middle_logo::before{top:-53px;}
  .history .history_bg .history_wrap .left_history_3rd{width:130px; top:1535px;}
  .history .history_bg .history_wrap .left_history_img{width:130px;}
  .history .history_bg .history_wrap .right_history_3rd{top:1795px;}
  .history .history_bg .history_wrap .right_history_3rd img{width:100px;}
  .history .history_bg .history_wrap .left_history_4rd{top:2083px;}
  .history .history_bg .history_wrap .right_history_4rd{top:2375px;}
  .history .history_bg .history_wrap .left_history_4rd img{width:100px; margin:auto;}
  

  /* History ::After Style Code */
  .history .history_bg .history_wrap .left_history_1st::after{left:50%;transform:translateX(-50%); top:-39%;}
  .history .history_bg .history_wrap .right_history_1st::after{left:50%;transform:translateX(-50%); top:-24%;}
  .history .history_bg .history_wrap .left_history_2nd::after{left:50%;transform:translateX(-50%); top:-21%;}
  .history .history_bg .history_wrap .right_history_2nd::after{left:50%;transform:translateX(-50%); top:-41%;}
  .history .history_bg .history_wrap .left_history_3rd::after{left:50%;transform:translateX(-50%); top:-27%;}
  .history .history_bg .history_wrap .right_history_3rd::after{left:50%;transform:translateX(-50%);top:-27%;}
  .history .history_bg .history_wrap .left_history_4rd::after{left:50%;transform:translateX(-50%);top:-30%;}
  .history .history_bg .history_wrap .right_history_4rd::after{left:50%;transform:translateX(-50%);top:-45%;}

/* History Common Style Code */
  .history .history_bg .history_wrap .left_history_1st,
  .history .history_bg .history_wrap .left_history_2nd,
  .history .history_bg .history_wrap .left_history_3rd,
  .history .history_bg .history_wrap .left_history_4rd{left:50%;transform: translateX(-50%);}

  .history .history_bg .history_wrap .right_history_1st,
  .history .history_bg .history_wrap .right_history_2nd,
  .history .history_bg .history_wrap .right_history_3rd,
  .history .history_bg .history_wrap .right_history_4rd{right:0;left:50%;transform: translateX(-50%);}

  /* Middle Container Stlye Code */
  .middle_container{height:1360px;}

  .middle_container .middle_wrap .txt_story p{font-size:25px;}
  .middle_container .middle_wrap .txt_story em{display:none;}

  .middle_container .with_beksul{width:300px; height: 300px; padding:50px 0;}
  .middle_container .with_beksul p{font-size:20px;}
  .middle_container .with_beksul::before{width:34px; height:30px;left:0px;top:33px;}

  /* Beksul_family Style Code */
  .beksul_family h3{font-size:20px; padding:10px 0;}
  .beksul_family .text_wrap p{font-size:13px;}

  /* Slide Section Style Code */
  .brand_slide .lSSlideOuter .slide_setion li .li_warp img{width:74px;}
  /* .brand_slide .slide_setion li img{width:70px;} */

  /* Footer Style Code */
  .footer .txt_3 li,
  .footer .txt_4 li,
  .footer .footer_txt p{padding:5px 0;}
  .footer .txt_1 li:nth-child(2){display:none;}
  .footer .txt_1 li:nth-child(5){display:none;}
  .footer .txt_3 li:nth-child(1){display:none;}
  .footer .txt_3 li:nth-child(2){border-right:hidden;}
  .footer .txt_4 li:nth-child(3){display:none;}

}

@media screen and (max-width:400px){
  /* Header Section Style Code */
  .navi header{padding:5px 15px;}
  header .nav_icon p{display:none;}
  .navi header .nav_bars{display:flex;justify-content: flex-end;}
  .navi .sub_nav{padding:10px 20px;}
  .navi .sub_nav .fa{font-size:13px;}
  .navi .sub_nav .sub_nav_txt p{font-size:12px;}
  .main_imgs .main_button{width:150px; height:40px;line-height: 40px;}
  .main_imgs .main_button span{font-size:13px;}

   /* SubPage Style Section */
  .sub_info .information .info_img{width:250px;height:250px;}
  .sub_info .information .info_img .info_txt h1{display:none;}
  .sub_info .information .info_img .info_txt p:nth-of-type(1){font-size:16px;}

  .sub_infoimg .sub_bg .symbol .sub_imgs{margin-bottom:30px;}
  .sub_infoimg .sub_bg .symbol .sub_imgs .img1,
  .sub_infoimg .sub_bg .symbol .sub_imgs .img2{height:170px;background-size:cover;}

   /* Beksul_family Style Code */
  .beksul_family h3{font-size:17px;top:13px;}
  .beksul_family .text_wrap p{font-size:12px;}
  .beksul_family .text_wrap p:nth-of-type(2){left:45%}
  .beksul_family .text_wrap p:nth-of-type(3){left:35.5%;}
  .beksul_family .text_wrap p:nth-of-type(5){left:39.5%;}

  /* Slide Section Style Code */
  .brand_slide{height:200px;}
  .brand_slide .slide_setion li p{display:none;}
  .lSSlideOuter .lSPager.lSpg{display:none;}
  
  /* Footer Style Code */
  .footer .footer_txt p{text-align: center;}
}