@media screen and (max-width:1350px){
  .logo_section .global_icon{display:none;}
  .nav_icon .cjbio{display:none;}
  .navi header .nav_txt p{font-size:15px; font-weight: 600; padding:0 10px;}
}

@media screen and (max-width:1150px){
  .navi header .nav_txt p{font-size:14.5px;}
  .navi .sub_nav{padding:10px 40px;}
  .navi header .nav_txt{display:none;}
  .navi header .nav_bars{display:block;}

  .sub_info .information{padding:100px;}
}

@media screen and (max-width:950px){
  .sub_info .information{display:flex;}
  .sub_info .information .info_img{width:500px; height:500px; display:flex;align-items: center;justify-content: center;padding:0;}
  .sub_info .information .info_img .info_txt h1{font-size:40px; padding:0 0 30px 0;}
  .sub_info .information .info_img .info_txt p:nth-of-type(2),
  .sub_info .information .info_img .info_txt p:nth-of-type(3){display: none;}

  
}

@media screen and (max-width:650px){
  .sub_info .information .info_img .info_txt h1{font-size:35px;}
  .sub_info .information .info_img .info_txt p:nth-of-type(1){font-size:23px;}
  
}