/* Remove Default Style */
* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: #212529;}
ol,ul {list-style: none;}
img {display: block;}
input,button,textarea {outline: 0; border-radius: 0; border:0; padding:10px; color:#777;}
input::placeholder{color:#ccc;}
textarea{resize:none;}
body{font-family: 'Montserrat','Noto Sans KR', sans-serif; height:100vh;}
.center {width:90%; margin:auto; padding:80px 0; overflow:hidden;}

.show_ani{animation:1s linear forwards showani;}
.active_left_1::before{background:url(/renewal_beksul/img/beksul_brand/beksul_left_on.png) !important;}
.active_right_1::before{background:url(/renewal_beksul/img/beksul_brand/beksul_right_on.png) !important;}
.active_middle::before{background:url(/renewal_beksul/img/beksul_brand/beksul_bot_on.png) !important;}

/* Header Navigation Style Code */
.navi{width:100%; height:auto;}
.navi header{display:flex; justify-content: space-between; align-items: center; padding:5px 30px;}
.navi header .logo_section{display: flex;}
.navi header .nav_txt{display: flex; align-items: center;}
.navi header .nav_txt p{font-size:16px; font-weight:600; padding:0 15px;}

.navi header .nav_bars{width:100%; height:auto; padding:0 20px;display:none;}
.navi header .nav_bars i{font-size:20px; color:#666;}

.navi header .nav_icon{display: flex; align-items: center;}
.navi header .nav_icon i{font-size:20px; margin:0 10px;}

.navi .sub_nav{display:flex; justify-content: space-between; align-items: center;padding:20px 60px;background:#eee;}
.navi .sub_nav .sub_nav_txt{display: flex; align-items: center;}
.navi .sub_nav .fa{color:#666;}
.navi .sub_nav .sub_nav_txt p{font-size:14px;color:#000; padding:0px 10px;font-family: 'Noto Sans KR', sans-serif;}
.navi .sub_nav .sub_nav_txt p:nth-child(1),
.navi .sub_nav .sub_nav_txt p:nth-child(2){border-right:1px solid #ccc;}

/* Main Image Style Code */
.main_imgs{width:100%; height:auto;}
.main_imgs .main_img{overflow: hidden; position:relative;}
.main_imgs .main_photo{width:100%; height:auto; min-width: 960px;max-height: 644px; }
.main_imgs .main_logo{position:absolute;top:50%; left:50%; transform: translate(-50%,-50%);max-width:190px; animation-name: mainup; animation-fill-mode: forwards; animation-delay: 0.5s; animation-duration: 1s;}
.main_imgs .main_button{position:absolute; width:200px; height:50px; text-align:center; line-height:50px;background:#8d2125;left:50%; transform: translateX(-50%); animation-name: mainbtn; animation-delay: 0.5s; animation-duration: 0.7s; animation-fill-mode: forwards; opacity:0; transition: all 1s; bottom:0;}
.main_imgs .main_button.btndown{position:fixed; animation:ease forwards btndown;animation-duration: 0.7s;}
.main_imgs .main_button.btnup{animation:0.7s ease-in forwards btnup;animation-duration: 0.7s}
.main_imgs .main_button span{color:#fff; font-size:14px; font-weight: 500;;}

/* Subpage Infomation Style Code */
.sub_info{height: auto;;}
.sub_info .information{opacity:0;height:800px; background: center center url(/renewal_beksul/img/beksul_brand/beksul_a_obj_1.jpg);padding:100px 200px;margin:auto;animation-delay: 0.3s;}
.sub_info .information .info_img{opacity:0;width:600px;height:100%;margin:auto;background:center rgba(66, 34, 13, 0.92);position:relative; padding:20px;animation-delay: 1s;}
.sub_info .information .info_img .info_txt{text-align: center; color:#fff;}
.sub_info .information .info_img .info_txt h1{font-size:50px; font-weight: 400;padding:50px 0 30px 0;;}
.sub_info .information .info_img .info_txt .info_icon{background:no-repeat url(/renewal_beksul/img/beksul_brand/beksul_a_obj_2.png); width:40px;height:40px;position:absolute; left:50%; transform: translateX(-50%);}
.sub_info .information .info_img .info_txt p:nth-of-type(1){padding:60px 0 20px 0;font-size:30px;}
.sub_info .information .info_img .info_txt p:nth-of-type(2),
.sub_info .information .info_img .info_txt p:nth-of-type(3){padding:0 0 20px 0; font-size:18px}

.sub_infoimg{width:100%; height: 620px; position: relative; animation-delay: 0.3s; opacity:0;}
.sub_infoimg .sub_bg{background:url(/renewal_beksul/img/beksul_brand/beksul_b_bg_1.gif); text-align: center; color:#fff;padding: 0 0 130px 0;}
.sub_infoimg .sub_bg .symbol .symbol_txt{font-size:18px; padding:50px 0 20px 0;}
.sub_infoimg .sub_bg .symbol .symbol_txt::after{content: ""; display:block;width:35px; border-bottom: 5px solid #fff; background:#fff; margin:20px auto;}
.sub_infoimg .sub_bg .symbol h2{font-size:35px; font-weight: 400; font-family: 'Noto Sans KR', sans-serif;}
.sub_infoimg .sub_bg .symbol p{font-size:18px; font-family: 'Noto Sans KR', sans-serif;padding:30px 0;}
.sub_infoimg .sub_bg .symbol .sub_imgs{width:70%; height:auto; position:absolute; left:50%; transform: translateX(-50%);display: flex; justify-content: space-between; opacity:0; animation-delay: 1s;}
.sub_infoimg .sub_bg .symbol .sub_imgs .img1{width:calc(25% - 5px); height:250px; background:no-repeat center url(/renewal_beksul/img/beksul_brand/beksul_b_obj_1.jpg);animation-delay: 1s; opacity:0;}
.sub_infoimg .sub_bg .symbol .sub_imgs .img2{width:calc(25% - 5px); height:250px; background:no-repeat center url(/renewal_beksul/img/beksul_brand/beksul_b_obj_2.jpg);animation-delay: 1.4s; opacity:0;}
.sub_infoimg .sub_bg .symbol .sub_imgs .img3{width:calc(25% - 5px); height:250px; background:no-repeat center url(/renewal_beksul/img/beksul_brand/beksul_b_obj_3.jpg);animation-delay: 1.8s; opacity:0;}
.sub_infoimg .sub_bg .symbol .sub_imgs .img4{width:calc(25% - 5px); height:250px; background:no-repeat center url(/renewal_beksul/img/beksul_brand/beksul_b_obj_4.jpg);animation-delay: 2.2s; opacity:0;}

/* Histoty Style Code */
.history{width:100%; height:2700px; padding:50px 0; background:repeat url(/renewal_beksul/img/beksul_brand/beksul_b_bg_2.gif);}
.history .history_bg{width:100%; height:auto; padding:100px 0;}
.history .history_bg h3{font-size:23px; font-weight: 400;}
.history .history_bg p {font-size:18px;}

.history .history_wrap .history_line{position:absolute;width:2px; height:1904px; left:50%; transform: translateX(-50%);background:no-repeat url(/renewal_beksul/img/beksul_brand/beksul_history_line.png);top:500px;}

.history .history_bg .history_wrap{width:1024px; height:1904px; margin:auto;position:relative; }

.history .history_bg .history_wrap .history_1st{position:absolute;left:50%; transform: translateX(-50%); text-align: center;}
.history .history_bg .history_wrap .history_1st img{padding:20px 0;}

/* Left history 1st Style Code */
.history .history_bg .history_wrap .left_history_1st{width:147px; height:auto; text-align: center;position: absolute; top:410px; left:20%;animation-delay: 1s; animation-name: showani;opacity:0; animation-fill-mode:forwards;animation-duration: 1s;}
.history .history_bg .history_wrap .left_history_1st::before{content:""; width:107px; height:33px; background:url(/renewal_beksul/img/beksul_brand/beksul_left_off.png); position:absolute; left:216px; top:40px;}
.history .history_bg .history_wrap .left_history_1st p:nth-of-type(1){font-size:23px;}
.history .history_bg .history_wrap .left_history_1st p:nth-of-type(2){margin:5px 0 40px 0;}
.history .history_bg .history_wrap .beksul_ss{position: absolute; top:410px; left:3%;}

/* right history 1st Style Code */
.history .history_bg .history_wrap .right_history_1st{width:147px; height:auto; text-align: center;position: absolute; top:530px; right:20%;animation-delay: 1.5s; animation-name: showani;opacity:0; animation-fill-mode:forwards;animation-duration: 1s;}
.history .history_bg .history_wrap .right_history_1st::before{content:""; width:107px; height:33px; background:url(/renewal_beksul/img/beksul_brand/beksul_right_off.png); position:absolute; right:216px; top:110px;}

.history .history_bg .history_wrap .right_history_1st p:nth-of-type(1){font-size:23px;}
.history .history_bg .history_wrap .right_history_1st p:nth-of-type(2){margin:5px 0 40px 0;}
.history .history_bg .history_wrap .right_history_1st img{width:117px; margin:auto;}
.history .history_bg .history_wrap .millgaru{position: absolute; top:565px; right:0%;}

/* Left history 2nd Style Code */
.history .history_bg .history_wrap .left_history_2nd{width:88px; height:auto; text-align:center; top:700px; left:23%;position:absolute;animation-delay: 2s; animation-name: showani;opacity:0; animation-fill-mode:forwards;animation-duration: 1s;}
.history .history_bg .history_wrap .left_history_2nd p{font-size:23px;}
.history .history_bg .history_wrap .left_history_2nd span{font-size:18px; margin:5px 0 20px 0; display:block;}
.history .history_bg .history_wrap .oil{position:absolute; top:700px; left:10%;}
.history .history_bg .history_wrap .left_history_2nd::before{
  content:""; width:107px; height:33px; background:url(/renewal_beksul/img/beksul_brand/beksul_left_off.png); position:absolute; left:186px; top:120px;
}

/* right history 2nd Style Code */
.history .history_bg .history_wrap .right_history_2nd{position:absolute; width:170px; height: auto; text-align: center; top:960px; right:17%;animation-delay: 2.5s; animation-name: showani;opacity:0; animation-fill-mode:forwards;animation-duration: 1s;}
.history .history_bg .history_wrap .right_history_2nd p:nth-of-type(1){font-size:23px}
.history .history_bg .history_wrap .right_history_2nd p:nth-of-type(2){margin:5px 0 40px 0;}
.history .history_bg .history_wrap .right_history_2nd::before{content:""; width:107px; height:33px; background:url(/renewal_beksul/img/beksul_brand/beksul_right_off.png); position:absolute; right:246px; top:37px;}

/* History middle logo Style Code */

.history .history_bg .history_wrap .middle_logo{position:absolute;width:370px; height:auto; text-align: center; left:50%; transform: translateX(-50%); top:1230px;animation-delay: 3s; animation-name: showani;opacity:0; animation-fill-mode:forwards;animation-duration: 1s;}
.history .history_bg .history_wrap .middle_logo img{margin:auto; margin-bottom:20px;}
.history .history_bg .history_wrap .middle_logo p:nth-of-type(1){
  font-size:23px;}
.history .history_bg .history_wrap .middle_logo::before{
  content:""; width:32px; height:33px; background:url(/renewal_beksul/img/beksul_brand/beksul_bot_off.png); position:absolute; left:50%; transform:translateX(-50%);top:-45px;}

/* Left history 3rd Style Code */
.history .history_bg .history_wrap .left_history_3rd{width:182px; height:auto; text-align:center; top:1580px; left:18%;position:absolute;animation-delay: 4s; animation-name: showani;opacity:0; animation-fill-mode:forwards;animation-duration: 1s;}
.history .history_bg .history_wrap .left_history_3rd p:nth-of-type(1){font-size:23px}
.history .history_bg .history_wrap .left_history_3rd p:nth-of-type(2){margin:5px 0 40px 0;}
.history .history_bg .history_wrap .left_history_3rd::before{content:""; width:107px; height:33px; background:url(/renewal_beksul/img/beksul_brand/beksul_left_off.png); position:absolute; left:237px; top:113px;}

/* right history 3rd Style Code */
.history .history_bg .history_wrap .right_history_3rd{position:absolute; width:180px; height: auto; text-align: center; top:1770px; right:17%;animation-delay: 4.5s; animation-name: showani;opacity:0; animation-fill-mode:forwards;animation-duration: 1s;}
.history .history_bg .history_wrap .right_history_3rd p:nth-of-type(1){
  font-size:23px}
.history .history_bg .history_wrap .right_history_3rd p:nth-of-type(2){margin:5px 0 40px 0;}
.history .history_bg .history_wrap .right_history_3rd img{margin:auto;}
.history .history_bg .history_wrap .right_history_3rd::before{content:""; width:107px; height:33px; background:url(/renewal_beksul/img/beksul_brand/beksul_right_off.png); position:absolute; right:246px; top:101px;}

/* Left history 4rd Style Code */
.history .history_bg .history_wrap .left_history_4rd{width:116px; height:auto; text-align:center; top:1950px; left:21%;position:absolute;animation-delay: 5s; animation-name: showani;opacity:0; animation-fill-mode:forwards;animation-duration: 1s;}
.history .history_bg .history_wrap .left_history_4rd p:nth-of-type(1){font-size:23px;}
.history .history_bg .history_wrap .left_history_4rd p:nth-of-type(2){margin:5px 0 40px 0;}
.history .history_bg .history_wrap .left_history_4rd::before{content:""; width:107px; height:33px; background:url(/renewal_beksul/img/beksul_brand/beksul_left_off.png); position:absolute; left:206px; top:100px;}

/* right history 4rd Style Code */
.history .history_bg .history_wrap .right_history_4rd{position:absolute; width:199px; height: auto; text-align: center; top:2130px; right:17%;animation-delay: 5.5s; animation-name: showani;opacity:0; animation-fill-mode:forwards;animation-duration: 1s;}
.history .history_bg .history_wrap .right_history_4rd p:nth-of-type(1){
  font-size:23px}
.history .history_bg .history_wrap .right_history_4rd p:nth-of-type(2){margin:5px 0 40px 0;}
.history .history_bg .history_wrap .right_history_4rd::before{content:""; width:107px; height:33px; background:url(/renewal_beksul/img/beksul_brand/beksul_right_off.png); position:absolute; right:246px; top:98px;}

/* Middle Subpage Style Code */
.middle_container{width:100%; height:1350px; background:no-repeat url(/renewal_beksul/img/beksul_brand/beksul_c_bg_1.jpg); padding:150px; }
.middle_container .middle_wrap{width:100%; height: auto; display:flex; align-items: center; justify-content: space-between;max-width:1350px;margin:auto;}
.middle_container .middle_wrap .mid_img{width:100%; height: 824px; background:no-repeat url(/renewal_beksul/img/beksul_brand/beksul_c_obj_1.jpg);}
.middle_container .middle_wrap .mid_txt{display: flex; flex-direction: column; width:100%;}
.middle_container .middle_wrap .txt_story{padding:50px 10px; animation-delay: 0.5s; animation-name: showani;opacity:0; animation-fill-mode:forwards;animation-duration: 1s;}
.middle_container .middle_wrap .txt_story p{font-size:40px; color:#6f4339;}
.middle_container .middle_wrap .txt_story em{font-size:18px; font-style: normal; margin-top:50px; display:block; color:#6f4339;line-height: 1.7;}
.middle_container .middle_wrap .img_story{width:90%; height:379px; background:no-repeat url(/renewal_beksul/img/beksul_brand/beksul_c_obj_2.jpg);}

.middle_container .with_beksul{width:500px; height:500px; margin:auto;padding:100px 0;position:relative;}
.middle_container .with_beksul p{font-size:28px; color:#6f4339;text-align: center;animation-delay: 0.5s; animation-name: showani;opacity:0; animation-fill-mode:forwards;animation-duration: 1s;}
.middle_container .with_beksul::before{content: ""; position: absolute; background:url(/renewal_beksul/img/beksul_brand/beksul_c_ldquo.png);width:86px; height:78px;top:50px;left:10px;}

.beksul_family{max-width:100%; height:100%; background:center center no-repeat url(/renewal_beksul/img/beksul_brand/beksul_d_bg01.jpg);position:relative; background-size:contain;}
.beksul_family h3{font-size:60px; font-weight: 700; color:#4e2b15;position: absolute; left:50%; top:50%; transform: translate(-50%,-50%); border-top:1px solid #c8bbb5; border-bottom: 1px solid #c8bbb5;padding:15px 0;}
.beksul_family .text_wrap p{position:absolute; font-size:20px;}
.beksul_family .text_wrap p:nth-of-type(1){top:29%; left:19.5%;}
.beksul_family .text_wrap p:nth-of-type(2){top:29%; left:35.5%;}
.beksul_family .text_wrap p:nth-of-type(3){top:29%; left:62.7%;}
.beksul_family .text_wrap p:nth-of-type(4){top:6.5%; left:75%;}
.beksul_family .text_wrap p:nth-of-type(5){top:63%; left:9.7%;}
.beksul_family .text_wrap p:nth-of-type(6){top:83.5%; left:26.4%;}
.beksul_family .text_wrap p:nth-of-type(7){top:70.5%; left:28.5%;}
.beksul_family .text_wrap p:nth-of-type(8){top:74.5%; left:56.8%;}
.beksul_family .text_wrap p:nth-of-type(9){top:80.5%; left:63.5%;}
.beksul_family .text_wrap p:nth-of-type(10){top:67.7%; left:79%;}

/* brand slide Style Code */
.brand_slide{width:100%; display:flex; background:#f0f0f0;align-items: center; justify-content: center; padding:50px 0;}
.brand_slide .brand_slide_bg h3{font-size:26px; color:#8d2125; text-align: center;padding-bottom: 70px;}
.brand_slide .slide_setion{display: flex; text-align: center; padding-bottom: 50px;font-size:18px;}
.brand_slide .slide_setion .slide_logo{border-right:1px solid #ccc;}
.brand_slide .slide_setion .slide_logo:last-child{border:none;}

/* Footer Style Code */
.footer{width:100%; height: auto;padding:40px 0 20px 20px;}
.footer ul{display:flex;}
.footer .txt_1 li,
.footer .txt_2 li{font-size:14px; padding:10px; border-right:1px solid #ccc;}
.footer ul li:last-child{border:none;}

.footer .txt_1 li:nth-of-type(1) a{color:red;}
.footer .txt_3 li,
.footer .txt_4 li,
.footer .footer_txt p{font-size:12px; padding:5px 10px;border-right:1px solid #ccc;}
.footer .footer_txt p{padding:10px 10px;}